.Product {
  position: relative;
}
.Product-photo {
  padding: 0 !important;
}
.Product-photo img {
  display: block;
  width: 80px;
}
.Product-name h1,
.Product-name p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.Product-name h1 {
  margin: 0 0 5px;
  font-size: 1.25rem;
}
.Product-name p {
  margin: 0;
  opacity: 65%;
}
.Product-category,
.Product-price,
.Product-in_stock {
  text-align: center;
}
.Product-in_stock::after {
  content: "\00a0шт.";
}
.Product-controls {
  opacity: 0;
  position: absolute;
  right: 0;
  height: 100%;
  box-sizing: border-box;
  padding: 18.5px 20px 18.5px 0 !important;
  background-color: white;
}
.Product-controls::before {
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  height: 100%;
  content: "";
  background: linear-gradient(to right, transparent, white);
}
.Product.selected .Product-controls {
  background-color: var(--clr-active);
}
.Product.selected .Product-controls::before {
  background: linear-gradient(to right, transparent, var(--clr-active));
}
.Product:hover .Product-controls {
  opacity: 100%;
}
.Product-controls button {
  margin-left: 15px;
}